<div class="d-flex 
            input-group 
            mb-3">
  <input 
    type="text" 
    id="search" 
    class="form-control 
           rounded-pill 
           w-50 
           flex-md-grow-0" 
    placeholder="Введіть перші літери назви категорії" 
    data-action="input->search#filterCategories"
  />
</div>
