<table class="table 
              table-light 
              table-striped 
              table-hover 
              table-bordered
              mb-4" >
  <thead>
    <tr>
      <th>#</th>
      <th class="w-25 custom-minw-100">Назва</th>
      <th class="w-50 custom-minw-250">Опис</th>
      <th>Управління</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each_with_index do |category, index| %>
      <% index += 1 %>

      <%= render partial: "category", 
                 locals: { category: category, index: index } %>
    <% end %>
  </tbody>
</table>
