<% content_for :page_title do %>
  <h1>Транзакції</h1>
<% end %>

<div class="row 
            mx-2 
            custom-h-500">
  <div class="col p-0">
    <div class="table-responsive 
                bg-body-tertiary 
                border 
                rounded 
                p-4">
                
      <%= render "select_dropdown" %>

      <%= render "table" %>
    </div>
  </div>
</div>

<%= render "pagination" %>

<% content_for :route_link do %>
  <%= link_to "Додати нову транзакцію", 
              new_operation_path, 
              class: "btn 
                      btn-primary 
                      shadow-sm border", 
              role: "button" %>
<% end %>
